/* --------globals------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
}

form,
label,
input,
button {
  margin: 5px;
}
/* ---------utils-------- */
.border {
  border: 2px solid black;
}

.center-50 {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-black {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.btn-green {
  background-color: rgb(95, 228, 115);
  color: black;
  border-radius: 5px;
  padding: 3px;
}
